*
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%; 
}
body{
    background-image: url(./images/cyber-security-website.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    background-color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    color: #fff;
}
.header{
    position: relative;
    height: 100vh;
}
.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-family: 'Zen Tokyo Zoo', cursive;
}
span{
    white-space: nowrap;
}
.icon{
    position: absolute;
    right: 1%;
    top: 2%;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 200%;
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
}
.icon:hover{
    border: none;
    background-color: white;
    color: #000;
}
#menu{
    display: none;
    position: relative;
    width: 75vw;
    height: 100vh;
    background-color: rgba(37, 37, 37, 0.8);
    border: 1px solid #fff;
    animation: slide-in 1s ease-in-out forwards;
}
.menu-items{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes slide-in{
    0%{
        transform: translateX(-100rem);
    }
    100%{
        transform: translate(0);
    }
}
a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 1.5em 3em;
    font-size: 1.7em;
    font-weight: 600;
    text-align: center;
}
a:hover{
    background-color: #000;
    box-shadow: 0 0 80px #fff;
}
hr{
    width: 60vw;
    height: 0.5em;
    background-color: #fff;
    border: none;
    margin: auto;
    margin-bottom: 20em;
}
.hr-1{
    margin-top: 10em;
}
.container{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
}
.cont-item{
    text-align: center;
    background-color: rgba(49, 92, 223, 0.6);
    padding: 4rem;
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.5rem #fff;
}
.cont-heading{
    font-size: 2rem;
    font-weight: 600;
}
.content{
    font-size: 1.3rem;
    margin: 1rem;
}
.btn{
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    color: rgb(68, 67, 67);
    border-radius: 0.5rem;
}
.hr-2{
    margin-top: 20em;
}
video{
    width: 80vw;
    height: 30vh;
    display: block;
    margin: auto;
    margin-bottom: 20rem;
}
@media only screen and (min-width: 600px)
{
    .text-box{
        font-size: 7rem;
    }
}
@media only screen and (min-width: 992px)
{
    .text-box{
        font-size: 9rem;
    }
    .container{
        flex-direction: row;
    }
    video{   
    width: 60vw;
    height: 70vh;
    }
}

